@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #c8c8c8;
}

::-webkit-scrollbar-thumb {
    background: #b6e2e7;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e9e6e6;
}