@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #3d3f3f;
}

::-webkit-scrollbar-thumb {
    background: #b6e2e7;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e9e6e6;
}